*{
    margin: 0;
    padding: 0;

    

}
@media (max-width: 767px){
    body {
        background-color: blueviolet;
    }
}
@media (max-width: 1000px){
    body {
        background-color: rgb(43, 43, 226);
    }
}
@media (max-width: 1200px){
    body {
        background-color: rgb(207, 80, 16);
    }
}


header {
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    display: flex;
    width: 200%;
}
h2{
    font-family: 'Dancing Script', cursive;
    margin-right: 300px;
    margin-left: 20px;
    color: rgba(82, 51, 51, 0.896);
}
a{
    text-decoration: none;
    padding: 10px;
    color: rgb(6, 139, 139);
}
h1{
    text-align: center;
    margin-top: 30px;
    color: rgb(45, 77, 77);
}
.cuadro_blanco {
    background-color: rgba(237, 231, 231, 0.784);
    width: 500px;
    height: 500px;
    margin: 15%;
    padding: 10px;
}
#parrafo {
    height: 150px;
    width: 300px;
    margin-left: 50px;
    
}
#titulo {
    margin: 50px 100px 10px 50px;
}
img {
    width: 200px;
}
.imagen {
    display: flex;
}

.selected-slide {
    border:rgb(6, 139, 139) 10px solid;
    border-radius: 10px;
}